/* Had to make this class because this Carousel of Recommended Food items is not working for smaller screens
Literally I checked every tailwind class, and couldn't find why the right side of carousel was going off screen under around 400px width.
*/


@media (max-width:660px){
    .recommended-carousel-min-width-fix{
        max-width: 520px;
    }

}

@media (max-width:565px){
    .recommended-carousel-min-width-fix{
        max-width: 420px;
    }

}

@media (max-width:460px){
    .recommended-carousel-min-width-fix{
        max-width: 320px;
    }

}

@media (max-width:355px){
    .recommended-carousel-min-width-fix{
        max-width: 290px;
    }

}

/* Yes I had to do it, for all these screens :_) */